<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/movie.css" %}">
    <title></title>
  </head>
  <body>
    <div class="container" align="center">
      <div class="jumbotron">
        <h1>MOVIE INFORMATION</h1>
        <a role="button" href="/movie" class="btn btn-primary btn-lg">Add movie</a>&nbsp&nbsp
        <a role="button" href="/list" class="btn btn-primary btn-lg">list of movies</a>
        </div>
        </div>
  </body>
</html>
